@{
    ViewData["Title"] = "Home Page";
}

<div class="welcome-page">
    <div class="row page-header">
        <div class="col-sm-10">
            <h1>
                <img class="icon" src="~/icon.jpg">
                Denne server kører Identity Server 4
                @*<small>(build {version})</small>*@
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <p>
                Identity Server understøtter hvad der findes i discovery dokumentet her:
                <a href="~/.well-known/openid-configuration">discovery document</a>
                Her kan der findes links og materialer til endepunkter
            </p>
        </div>
    </div>
</div>